*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
    --white: #ffffff;
    --off-white: #eeede8;
    --golden: #e8cda2;
  
    --title-color: var(--off-white);
  
    --black-500: #121214;
    --black-600: #0A0A11;
  
    --font-primary: 'Source Serif Pro', serif;
  
    --headline-font-size: 2.375rem; /* 38px */
    --subHeadline-font-size: 1.25rem; /* 18px */
    --title-font-size: 1.875rem; /* 30px */
    --cta-font-size: 1.5rem; /* 28px */
  
    --line-height-title: 125%;
    --line-height-text: 150%;
  }

html {
  font-family: var(--font-primary);
}

body {
  position: relative;
  background-color: var(--black-500);

  &::before {
    content: '';
    background: url(/shape.svg) no-repeat right top;
    background-size: 60%;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

img {
  width: 100%;
}

.c-hero {
  & .c-headline {
    flex: 2;
    margin-bottom: 50px;
  }

  & .c-picture {
    flex: 1;
    text-align: center;

    > img {
      max-width: 357px;
    }
  }
}

.l-wrapper {
  display: flex;
  z-index: 1;
  gap: 50px;
  flex-direction: column;
  
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }
  
  &--inverse {
    flex-direction: column-reverse;
  }

  &__content {
    flex: 1;
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    > h3 {
      font-size: 1.375rem;
      line-height: var(--line-height-text);
      margin-bottom: 50px;
      text-align: center;
  
      @media (min-width: 768px) {
        margin-bottom: inherit;
        text-align: inherit;
      }
    }

    > svg {
      width: 100%;
      transform: rotate(90deg);
  
      @media (min-width: 768px) {
        transform: rotate(0);
      }
    }
  }

  &__text {
    flex: 1;
    color: var(--off-white);

    p {
      font-size: 1.0625rem;
      line-height: var(--line-height-text);
      margin-bottom: 24px;
    }
  }

  & .c-picture {
    flex: 1;
    text-align: center;
  }

  & img {
    max-width: 475px;
  }
}