---
import CTA from "./CTA.astro";

---

<div class="c-card">
  <svg class="shape--top-right" width="1171" height="428" viewBox="0 0 1171 428" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0_203_8" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-1" y="0" width="1172" height="429">
    <rect x="1170" y="428" width="1170" height="427" rx="10" transform="rotate(-180 1170 428)" fill="#121214" stroke="#EEEDE8" stroke-opacity="0.1"/>
    </mask>
    <g mask="url(#mask0_203_8)">
    <rect x="1139.51" y="267" width="261" height="225" transform="rotate(-151.173 1139.51 267)" fill="url(#paint0_linear_203_8)" fill-opacity="0.3"/>
    <rect x="1169.51" y="257" width="261" height="225" transform="rotate(-151.173 1169.51 257)" fill="url(#paint1_linear_203_8)"/>
    </g>
    <defs>
    <linearGradient id="paint0_linear_203_8" x1="1446.61" y1="240.094" x2="1199.46" y2="373.832" gradientUnits="userSpaceOnUse">
    <stop stop-color="#9A9292" stop-opacity="0.1"/>
    <stop offset="1" stop-color="#9A9292" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint1_linear_203_8" x1="1476.61" y1="230.094" x2="1229.46" y2="363.832" gradientUnits="userSpaceOnUse">
    <stop stop-color="#9A9292" stop-opacity="0.1"/>
    <stop offset="1" stop-color="#9A9292" stop-opacity="0"/>
    </linearGradient>
    </defs>
  </svg>

  <svg class="shape--bottom-left" width="1171" height="428" viewBox="0 0 1171 428" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0_203_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="-1" width="1172" height="429">
    <rect x="1" width="1170" height="427" rx="10" fill="#121214" stroke="#EEEDE8" stroke-opacity="0.1"/>
    </mask>
    <g mask="url(#mask0_203_6)">
    <rect x="31.4886" y="161" width="261" height="225" transform="rotate(28.8273 31.4886 161)" fill="url(#paint0_linear_203_6)" fill-opacity="0.3"/>
    <rect x="1.48859" y="171" width="261" height="225" transform="rotate(28.8273 1.48859 171)" fill="url(#paint1_linear_203_6)"/>
    </g>
    <defs>
    <linearGradient id="paint0_linear_203_6" x1="338.583" y1="134.094" x2="91.4407" y2="267.832" gradientUnits="userSpaceOnUse">
    <stop stop-color="#9A9292" stop-opacity="0.1"/>
    <stop offset="1" stop-color="#9A9292" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint1_linear_203_6" x1="308.583" y1="144.094" x2="61.4407" y2="277.832" gradientUnits="userSpaceOnUse">
    <stop stop-color="#9A9292" stop-opacity="0.1"/>
    <stop offset="1" stop-color="#9A9292" stop-opacity="0"/>
    </linearGradient>
    </defs>
  </svg>

  <h3 class="c-card__title">
    Eu poderia listar outras dificuldades e problemas, mas eu percebo que esses pontos estão entre 
    os mais comuns e os que mais prejudicam o crescimento e as vendas.
  </h3>

  <span class="c-card__divider"></span>

  <p>
    Tenho certeza que você deve passar por alguma das situações acima, que além de não gerar resultados te deixam com 
    aquele pensamento "Será que isso vai dar certo?"
  </p>

  <p>
    Por isso que na Consultoria INTENSE eu criei uma metodologia que será a base para você aprender como transformar 
    sua mentalidade, posicionamento, imagem pessoal, estrutura de marca e outros pontos que vão melhorar seus resultados.
  </p>

  <CTA
    label="Quero ser uma empreendedora de SUCESSO!"
    link="#"
  />
</div>

<style lang="scss">
.c-card {
  padding: 50px;
  background-color: var(--black-500);
  border: 1px solid rgba(238, 237, 232, 0.1);
  border-radius: 10px;
  position: relative;
  color: var(--off-white);
  text-align: center;
  z-index: -2;

  @media (min-width: 768px) {
    padding: 50px 100px;
  }

  &__title {
    font-size: 22px;
    line-height: var(--line-height-title);
    margin-bottom: 24px;
    font-weight: 600;
  }

  &__divider {
    width: 100px;
    display: inline-block;
    border: 2px solid var(--golden);
    margin-bottom: 30px;
  }

  p {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 24px;
    line-height: var(--line-height-text);
  }

  > svg.shape--top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  > svg.shape--bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
</style>